<% include ./partials/header %>
    <h3>This is the Portfolio page!~!</h3>

    <img src="https://api.thumbnail.ws/api/abe95efeb2685c56f11ee3a8599ebc33aa48ca78238e/thumbnail/get?url=https%3A%2F%2Fthumbnail.ws%2F&width=480"
        alt="some image">

    <% include ./partials/footer %>