<% include ./partials/header %>


    <% profile.forEach((element) => { %>
        <h2>
            <%= element.title %>
        </h2>
        <img src="<%= element.image %>" alt="Some Image">
        <p>
            <%= element.info %>
        </p>
        <p>
            <a href="<%= element.website %>">Website!</a>
        </p>
        <% }) %>



            <% include ./partials/footer %>